
@scope (#domain-race-component) {
    :scope {
    }

    #race-content {
        padding:5px; 
    }

    #race-content > div,
    .option-control {
        margin-bottom: 10px;
    }

    .hidden {
        display: none;
    }
}
