
<section id="domain-race-component">
    <link rel="stylesheet" href="./components/domain-components/race/race.css" />
    <div id="race-content">
        <div id="race-row" kit-element>
            <kit kit-component="./components/shared/selection/selection.html"
                 kit-obj-selection-model="selectionModel:#model.getRaceSelectionModel()">
            </kit>
        </div>
        <div id="race-selections-row" kit-if="#model.hasRaceSelections()">
            <div kit-array="#model.getRaceSelections()"
                 kit-array-item-alias="selection">
                <div class="selection-control">
                    <kit kit-component="./components/shared/selection/selection.html"
                         kit-obj-selection-model="selectionModel:#selection">
                    </kit>
                </div>
            </div>
        </div>
        <div id="sub-race-row" kit-if="#model.hasSubRaces()">
            <kit kit-component="./components/shared/selection/selection.html"
                 kit-obj-selection-model="selectionModel:#model.getSubRaceSelectionModel()">
            </kit>
        </div>
        <div id="sub-race-selections-row" kit-if="#model.hasSubRaceSelections()">
            <div kit-array="#model.getSubRaceSelections()"
                 kit-array-item-alias="selection">
                <div class="selection-control">
                    <kit kit-component="./components/shared/selection/selection.html"
                         kit-obj-selection-model="selectionModel:#selection">
                    </kit>
                </div>
            </div>
        </div>
    </div>
</section>
