
@import "resources/styles/themes/base.css";
@import "resources/styles//elements/button.css";
@import "resources/styles/elements/dialog.css";
@import "resources/styles//elements/input-checkbox.css";
@import "resources/styles//elements/input-color.css";
@import "resources/styles//elements/input-file.css";
@import "resources/styles//elements/input-number.css";
@import "resources/styles//elements/input-radio.css";
@import "resources/styles//elements/input-text.css";
@import "resources/styles//elements/select.css";
@import "resources/styles//elements/textarea.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:scope {
    --app-nav-width-expanded: 150px;
    --app-nav-width: var(--app-nav-width-expanded);
    --app-nav-left: 0px;
    --editor-tool-width: 200px;
    --editor-tool-left: 0px;
    scrollbar-color: var(--color-primary) var(--color-primary-container);
}

@media (max-width: 768px) {
    :scope {
        --app-nav-width-expanded: 50px;
    }
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-background-on);
}

kit:not([kit-element-key]) {
    display: none;
}

.icon-container {
    height: 20px;
    width: 20px;
    margin: 2px 2px 8px 2px;
}

.icon {
    fill: none;
    stroke-width: 8px;
}

.action-text {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
