
<dialog class="tool-palette-dialog-component surface-tertiary background">
    <kit-if id="kitIfVisible" data-kit-condition="#model.isVisible()">
        <style>
            @scope (.tool-palette-dialog-component) {
                :scope {
                    height: 750px;
                    width: 1000px;
                    border: 1px solid var(--theme-color-tertiary-darkest);
                }

                .details-list {
                    height: 665px;
                    overflow-y: auto;
                    padding: 2px;
                    border: 1px solid var(--theme-color-tertiary-darkest-fixed);
                    border-radius: 3px;
                }

                .details-list summary {
                    font-weight: bold;
                }

                .details-list-2 {
                    overflow-y: auto;
                    padding: 0 0 2px 20px;
                    border-radius: 3px;
                }

                .details-list-2 summary {
                    font-weight: normal;
                }

                .detail-section {
                    display: flex;
                    padding-right: 0;
                }

                .detail-section > div {
                    flex-grow: 1;
                }

                .item-list {
                    min-height: 50px;
                    max-height: 300px;
                    overflow-y: auto;
                    padding: 2px;
                    border: 1px solid var(--theme-color-tertiary-darkest-fixed);
                    border-radius: 3px;
                    margin-right: 10px;
                }

                .available-item {
                    display: flex;
                    padding: 0;
                    margin-bottom: 2px;
                }

                .available-item div {
                    padding: 0;
                    margin: 0;
                }

                .available-item label {
                    display: block;
                    margin: 5px;
                }

                .secondary-info {
                    font-size: smaller;
                    font-style: italic;
                    padding: 0;
                }

                .secondary-info label {
                    font-weight: normal;
                    margin: 5px 0 0 0;
                }

                .move-container button {
                    margin-left: -10px;
                    padding: 0;
                }

                .move-container button .icon-container {
                    margin-left: 5px;
                    margin-bottom: 30px;
                }

                button, .icon-container {
                    min-width: 25px;
                }

                .grip {
                    stroke: var(--theme-color-tertiary-darker);
                    stroke-width: 2;
                }

                .action-text:not([disabled]):hover .grip,
                .action-control:not([disabled]):hover .grip {
                    stroke: var(--theme-color-tertiary-lightest);
                }
            }
        </style>
        <header class="surface-tertiary">
            <div class="icon-container">
                <kit-component data-kit-template-path="/resources/icons/tool-palette.html" data-kit-model="null"></kit-component>
            </div>
            <div>
                <h1>Edit tool palettes</h1>
            </div>
            <div class="spacer"></div>
            <div>
                <button title="Close" class="action-text" onclick="#model.closeDialog();">
                    <div class="icon-container">
                        <kit-component data-kit-template-path="/resources/icons/file-close.html" data-kit-model="null"></kit-component>
                    </div>
                </button>
            </div>
        </header>
        <section>
            <!-- content starts here -->
            <div class="details-list">
                <details id="details-tool-palettes">
                    <summary class="action-control">Tool palettes</summary>
                    <div class="details-list-2">
                        <details id="details-tool-palettes-editing-tools">
                            <summary class="action-control">Editing tools</summary>
                            <kit-if id="editing-tools-palette-section" data-kit-condition="true">
                                <section class="detail-section">
                                    <div>
                                        <label>Current palette</label>
                                        <div id="current-editing-tools" class="item-list" ondragover="#model.allowDrop(event)" ondrop="#model.dropAvailableItem(event, 'EditingTools')">
                                            <!-- dynamic content here -->
                                            <kit-array data-kit-array="#model.getToolPalettes('EditingTools')" data-kit-array-ref="palettes" data-kit-item-index-ref="paletteIndex">
                                                <div>
                                                    <kit-array data-kit-array="#model.getToolPaletteItems('EditingTools', #paletteIndex)" data-kit-item-ref="tool">
                                                        <button id="%{#tool.id}%"
                                                                class="tool-button action-control editing-tool-button"
                                                                title="%{#tool.data.ref.name}%"
                                                                draggable="true"
                                                                ondragstart="#model.dragItem(event)">
                                                            %{#tool.data.thumbnailSrc}%
                                                        </button>
                                                    </kit-array>
                                                </div>
                                            </kit-array>
                                            <!-- end dynamic content -->
                                        </div>
                                    </div>
                                    <div>
                                        <label>Available tools</label>
                                        <div id="available-editing-tools" class="item-list" ondragover="#model.allowDrop(event)" ondrop="#model.dropPaletteItem(event, 'EditingTools')">
                                            <!-- dynamic content here -->
                                            <kit-array data-kit-array="#model.getAvailableItems('EditingTools')" data-kit-array-ref="tools" data-kit-item-ref="tool" data-kit-item-index-ref="toolIndex">
                                                <div id="%{#tool.elementId}%" class="action-control available-item data-available-editing-tool" draggable="true" ondragstart="#model.dragItem(event)">
                                                    <div class="icon-container">
                                                        %{#tool.thumbnailSrc}%
                                                    </div>
                                                    <div>
                                                        <label>%{#tool.name}%</label>
                                                    </div>
                                                    <div class="spacer"></div>
                                                    <div class="secondary-info">
                                                        <label>%{#tool.referenceTypeLabel}%</label>
                                                        <label>%{#tool.versionLabel}%</label>
                                                    </div>
                                                    <div class="move-container">
                                                        <button title="Move" class="action-text" style="height:50px;width:30px;" onclick="#model.dragStartItem(event, #tool.elementId);">
                                                            <div class="icon-container">
                                                                <kit-component data-kit-template-path="/resources/icons/move.html" data-kit-model="null"></kit-component>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </kit-array>
                                            <!-- end dynamic content -->
                                        </div>
                                        <div>
                                            <a title="Manage tools" class="action-text" onclick="#model.openToolsSection()">Manage tools</a>
                                        </div>
                                    </div>
                                </section>
                            </kit-if>
                        </details>
                        <details id="details-tool-palettes-drawing-tools">
                            <summary class="action-control">Drawing tools</summary>
                            <kit-if id="drawing-tools-palette-section" data-kit-condition="true">
                                <section class="detail-section">
                                    <div>
                                        <label>Current palette</label>
                                        <div id="current-drawing-tools" class="item-list" ondragover="#model.allowDrop(event)" ondrop="#model.dropAvailableItem(event, 'DrawingTools')">
                                            <!-- dynamic content here -->
                                            <kit-array data-kit-array="#model.getToolPalettes('DrawingTools')" data-kit-array-ref="palettes" data-kit-item-index-ref="paletteIndex">
                                                <div>
                                                    <kit-array data-kit-array="#model.getToolPaletteItems('DrawingTools', #paletteIndex)" data-kit-item-ref="tool">
                                                        <button id="%{#tool.id}%"
                                                                class="tool-button action-control drawing-tool-button"
                                                                title="%{#tool.data.ref.name}%"
                                                                draggable="true"
                                                                ondragstart="#model.dragItem(event)">
                                                            %{#tool.data.thumbnailSrc}%
                                                        </button>
                                                    </kit-array>
                                                </div>
                                            </kit-array>
                                            <!-- end dynamic content -->
                                        </div>
                                    </div>
                                    <div>
                                        <label>Available tools</label>
                                        <div id="available-drawing-tools" class="item-list" ondragover="#model.allowDrop(event)" ondrop="#model.dropPaletteItem(event, 'DrawingTools')">
                                            <!-- dynamic content here -->
                                            <kit-array data-kit-array="#model.getAvailableItems('DrawingTools')" data-kit-array-ref="tools" data-kit-item-ref="tool" data-kit-item-index-ref="toolIndex">
                                                <div id="%{#tool.elementId}%" class="action-control available-item data-available-drawing-tool" draggable="true" ondragstart="#model.dragItem(event)">
                                                    <div class="icon-container">
                                                        %{#tool.thumbnailSrc}%
                                                    </div>
                                                    <div>
                                                        <label>%{#tool.name}%</label>
                                                    </div>
                                                    <div class="spacer"></div>
                                                    <div class="secondary-info">
                                                        <label>%{#tool.referenceTypeLabel}%</label>
                                                        <label>%{#tool.versionLabel}%</label>
                                                    </div>
                                                    <div class="move-container">
                                                        <button title="Move" class="action-text" style="height:50px;width:30px;" onclick="#model.dragStartItem(event, #tool.elementId);">
                                                            <div class="icon-container">
                                                                <kit-component data-kit-template-path="/resources/icons/move.html" data-kit-model="null"></kit-component>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </kit-array>
                                            <!-- end dynamic content -->
                                        </div>
                                        <div>
                                            <a title="Manage tools" class="action-text" onclick="#model.openToolsSection()">Manage tools</a>
                                        </div>
                                    </div>
                                </section>
                            </kit-if>
                        </details>
                        <details id="details-tool-palettes-map-item-templates">
                            <summary class="action-control">Map item templates</summary>
                            <kit-if id="map-item-templates-palette-section" data-kit-condition="true">
                                <section class="detail-section">
                                    <div>
                                        <label>Current palette</label>
                                        <div id="current-map-item-templates" class="item-list" ondragover="#model.allowDrop(event)" ondrop="#model.dropAvailableItem(event, 'MapItemTemplates')">
                                            <!-- dynamic content here -->
                                            <kit-array data-kit-array="#model.getToolPalettes('MapItemTemplates')" data-kit-array-ref="palettes" data-kit-item-index-ref="paletteIndex">
                                                <div>
                                                    <kit-array data-kit-array="#model.getToolPaletteItems('MapItemTemplates', #paletteIndex)" data-kit-item-ref="tool">
                                                        <button id="%{#tool.id}%"
                                                                class="tool-button action-control drawing-tool-button"
                                                                title="%{#tool.data.ref.name}%"
                                                                draggable="true"
                                                                ondragstart="#model.dragItem(event)">
                                                            %{#tool.data.thumbnailSrc}%
                                                        </button>
                                                    </kit-array>
                                                </div>
                                            </kit-array>
                                            <!-- end dynamic content -->
                                        </div>
                                    </div>
                                    <div>
                                        <label>Available map item templates</label>
                                        <div id="available-map-item-templates" class="item-list" ondragover="#model.allowDrop(event)" ondrop="#model.dropPaletteItem(event, 'MapItemTemplates')">
                                            <!-- dynamic content here -->
                                            <kit-array data-kit-array="#model.getAvailableItems('MapItemTemplates')" data-kit-array-ref="mapItemTemplates" data-kit-item-ref="mapItemTemplate" data-kit-item-index-ref="mapItemTemplateIndex">
                                                <div id="%{#mapItemTemplate.elementId}%" class="action-control available-item data-available-map-item-template" draggable="true" ondragstart="#model.dragItem(event)">
                                                    <div class="icon-container">
                                                        %{#mapItemTemplate.thumbnailSrc}%
                                                    </div>
                                                    <div>
                                                        <label>%{#mapItemTemplate.name}%</label>
                                                    </div>
                                                    <div class="spacer"></div>
                                                    <div class="secondary-info">
                                                        <label>%{#mapItemTemplate.referenceTypeLabel}%</label>
                                                    </div>
                                                    <div class="move-container">
                                                        <button title="Move" class="action-text" style="height:50px;width:30px;" onclick="#model.dragStartItem(event, #mapItemTemplate.elementId);">
                                                            <div class="icon-container">
                                                                <kit-component data-kit-template-path="/resources/icons/move.html" data-kit-model="null"></kit-component>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </kit-array>
                                            <!-- end dynamic content -->
                                        </div>
                                        <div>
                                            <a title="Manage map item templates" class="action-text" onclick="#model.openMapItemTemplatesSection()">Manage map item templates</a>
                                        </div>
                                    </div>
                                </section>
                            </kit-if>
                        </details>
                    </div>
                </details>
                <details id="details-tools">
                    <summary class="action-control">Tools</summary>
                    <section>
                        <ul>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                        </ul>
                    </section>
                </details>
                <details id="details-map-item-templates">
                    <summary class="action-control">Map item templates</summary>
                    <section>
                        <ul>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                            <li>sub item</li>
                        </ul>
                    </section>
                </details>
            </div>

            <!-- content ends here -->
        </section>
    </kit-if>
</dialog>
