<section class="level-boon-selection" kit-if="#model?.hasSelectionModel()">
    <div class="selection-title"><label>%{#model.getTitle()}%</label></div>
    <div class="selection-content">
        <div class="radio-row">
            <div class="radio-container">
                <label class="radio-button">
                    <input type="radio"
                           class="data-radio-ability-scores"
                           kit-element
                           name="#model.getRadioGroupName()"
                           value="ability-scores"
                           kit-attr-checked="checked:%{#model.isAbilityScoresChecked ? '' : null}%"
                           onclick="#model?.onAbilityScoresRadioClick()" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="radio-label">
                <label>Ability score improvement</label>
            </div>
        </div>
        <div class="details-section ability-scores-container">
            <div class="selection-container">
                <kit kit-component="./components/shared/selection/selection.html"
                     kit-obj-selection-model="selectionModel:#model?.getAbilityScoreSelectionModel(1)">
                </kit>
            </div>
            <div class="selection-container">
                <kit kit-component="./components/shared/selection/selection.html"
                     kit-obj-selection-model="selectionModel:#model?.getAbilityScoreSelectionModel(2)">
                </kit>
            </div>
        </div>
        <div class="radio-row">
            <div class="radio-container">
                <label class="radio-button">
                    <input type="radio"
                           class="data-radio-feat"
                           kit-element
                           name="#model.getRadioGroupName()"
                           value="feat"
                           kit-attr-checked="checked:%{#model.isAbilityScoresChecked ? null : ''}%"
                           onclick="#model.onFeatRadioClick()" />
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="radio-label">
                <label>Feat</label>
            </div>
        </div>
        <div class="details-section feats-container" kit-element>
            <div class="selection-container">
                <kit kit-component="./components/shared/selection/selection.html"
                     kit-obj-selection-model="selectionModel:#model?.getFeatSelectionModel()">
                </kit>
            </div>
            <div kit-if="#model.hasFeatSelections()">
                <div kit-array="#model.getFeatSelections()"
                     kit-array-item-alias="selection">
                    <div>
                        <kit kit-component="./components/shared/selection/selection.html"
                             kit-obj-selection-model="selectionModel:#selection">
                        </kit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>