
<kit kit-if="#model?.isVisible()">
    <link rel="stylesheet" href="/components/map-editor/file-save-dialog/file-save-dialog.css" />
    <dialog id="file-save-dialog">
        <header>
            <div class="icon-container" kit-component="no-model:/resources/icons/file-save.html"></div>
            <div>
                <h1>Save map</h1>
            </div>
            <div class="spacer"></div>
            <div>
                <button title="Close" class="action-text" onclick="#model.closeDialog();">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-close.html"></div>
                </button>
            </div>
        </header>
        <section>
            <kit kit-if="#model.hasFileSystemAccess()">
                <div>
                    <label>Choose file path:</label>
                </div>
                <div id="file-container">
                    <input id="file-name" type="text" placeholder="file name" disabled />
                    <button id="browse" class="button dialog-button" title="browse" onclick="#model.browse()" autofocus>...</button>
                </div>
            </kit>
            <kit kit-if="!#model.hasFileSystemAccess()">
                <div>
                    <label>Choose file name:</label>
                </div>
                <div id="file-container">
                    <input id="file-name" type="text" placeholder="file name" onchange="#model.onFileNameChanged()" />
                </div>
            </kit>
            <div>
                <button id="button-ok" class="button dialog-button" title="OK" onclick="#model.buttonOkClicked();" disabled>OK</button>
            </div>
        </section>
    </dialog>
</kit>
