
@scope (#domain-equipment-component) {
    :scope {
    }

    #equipment-content {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    #inventory-content,
    #add-equipment-content {
        margin-bottom: 20px;
        margin-right: 10px;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 250px;
    }

    .summary {
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 3px double saddlebrown;
        font-weight: bold;
        white-space: nowrap;
    }

    .summary-label {
        flex: 1;
    }

    .no-wrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #starting-equipment-container #summary-row {
        display: flex;
        margin-bottom: 10px;
    }

    #starting-equipment-container #summary-row #summary-row-label {
        margin-right: 5px;
    }

    #starting-equipment-container #starting-equipment-content {
        margin-bottom: 10px;
        border: 1px dotted black;
        padding: 5px;
    }

    #starting-equipment-container #starting-equipment-content ul {
        padding-left: 0;
        margin-left: 0;
    }

    #starting-equipment-container #starting-equipment-content li::before {
        content: " - ";
    }

    #starting-equipment-container #starting-equipment-content,
    #starting-equipment-container #starting-equipment-content p,
    #starting-equipment-container #starting-equipment-content li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .info-icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 1px dotted black;
    }

    .info-icon .icon {
        stroke: black;
        stroke-width: 4px;
    }

    .info-icon .icon-text {
        fill: black;
    }

    .toggle-button {
        height: 20px;
        width: 20px;
        border: none;
        background-color: transparent;
        float: right;
        cursor: pointer;
    }

    .toggle-button svg {
        border: 1px dotted saddlebrown;
    }

    .options-button svg {
        border:none;
    }

    .hidden {
        display: none;
    }

    #inventory-list,
    #add-equipment-list {
        display: flex;
        overflow-x: auto;
    }

    #inventory-table,
    #add-equipment-table {
        display: table;
        border: 1px solid black;
        border-radius: 5px;
        margin: 5px 0 5px 0;
        padding: 2px 2px 0 2px;
        background-color: #998B70;
        flex:1;
    }

    .inventory-item,
    .equipment-item {
        display: table-col-group;
        border: 1px solid black;
        margin-bottom: 2px;
        border-radius: 5px;
        background-color: #FFF8EB;
        padding:2px;
    }

    .inventory-row,
    .equipment-row {
        display: table-row;
    }

    .inventory-cell,
    .equipment-cell {
        display: table-cell;
        vertical-align: top;
    }

    .inventory-cell > div,
    .equipment-cell > div {
        margin: 5px;
    }

    .add-item,
    .remove-item {
        width: 20px;
        height: 20px;
        background-color: #FFF8EB;
        margin: 0;
        border-color: saddlebrown;
        padding: 0;
    }

    .add-item:not([disabled]):hover,
    .remove-item:not([disabled]):hover {
        box-shadow: #C2B08E 1px 1px 3px 0 inset, #C2B08E -1px -1px 3px 0 inset;
    }

    .add-item .icon,
    .remove-item .icon {
        stroke: saddlebrown;
    }

    .property-note,
    .added-count {
        font-size: smaller;
        font-style: italic;
        color:saddlebrown;
    }

    .item-name {
        font-weight: bold;
    }

    .item-properties {
        font-style: italic;
        font-size: small;
        white-space:wrap;
    }

    .toggle-button-container {
        display:flex;
    }

    .options-container {
        display: flex;
        flex: 1;
    }

    .options-label {
        flex:1;
        cursor: pointer;
        font-size:smaller;
    }

    .expand-collapse-container {
        margin-left: 5px;
    }

    .inventory-item-options {
        display: table-group-column;
        margin:0 0 5px 0;
        padding: 5px;
    }

    .inventory-item-html,
    .equipment-item-html {
        display: table-group-column;
        background-color: #C2B08E;
        border: 1px solid saddlebrown;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0 5px 5px 5px;
        padding: 5px;
    }

    .checkbox-container {
        position:relative;
    }

    .checkbox-info-label {
        position: relative;
        top: 25px;
        font-size:small;
        color:saddlebrown;

    }

    .item-source {
        color: saddlebrown;
        font-size: small;
        margin-top:0;
    }

}
