
<section class="editor-component">
    <link rel="stylesheet" href="/components/map-editor/editor/editor.css" />

    <!-- menu -->
    <div id="menu">
        <div>
            <button onclick="#model.toggleDropdown('menu-file')" 
                    class="top-menu-item action-text" 
                    data-dropdown-id="menu-file">
                File
            </button>
            <div id="menu-file" class="dropdown-content">
                <button title="New map" class="action-text" onclick="#model.showDialog('dlg-file-new')">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/file-new.html"></div>
                        <div class="button-text">New ...</div>
                    </div>
                </button>
                <button title="Open map" class="action-text" onclick="#model.showDialog('dlg-file-open')">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/file-open.html"></div>
                        <div class="button-text">Open ...</div>
                    </div>
                </button>
                <button title="Close map" 
                        class="action-text" 
                        onclick="#model.closeMap()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getCloseDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/file-close.html"></div>
                        <div class="button-text">Close</div>
                    </div>
                </button>
                <hr />
                <button title="Save map" 
                        class="action-text" 
                        onclick="#model.saveMap()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getSaveDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/file-save.html"></div>
                        <div class="button-text">Save</div>
                    </div>
                </button>
                <button title="Save map as" 
                        class="action-text" 
                        onclick="#model.saveMapAs()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getSaveDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/file-save-as.html"></div>
                        <div class="button-text">Save as ...</div>
                    </div>
                </button>
                <button title="Publish file" class="action-text" disabled>
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/file-publish.html"></div>
                        <div class="button-text">Publish ...</div>
                    </div>
                </button>
            </div>
        </div>
        <div>
            <button onclick="#model.toggleDropdown('menu-edit')" 
                    class="top-menu-item action-text" 
                    data-dropdown-id="menu-edit">
                Edit
            </button>
            <div id="menu-edit" class="dropdown-content">
                <button id="menuEditSelectAllInView" 
                        title="Select all in view" 
                        class="action-text" 
                        onclick="#model.selectAllInView()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getSelectAllInViewDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-select-all-in-view.html"></div>
                        <div class="button-text">Select all in view (Ctrl+A)</div>
                    </div>
                </button>
                <button id="menuEditUnSelectAll" 
                        title="Unselect all" 
                        class="action-text" 
                        onclick="#model.unSelectAll()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getUnSelectAllDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-unselect-all.html"></div>
                        <div class="button-text">Unselect all (Ctrl+Alt+A)</div>
                    </div>
                </button>
                <hr />
                <button id="menuEditUndo" 
                        title="Undo" 
                        class="action-text" 
                        onclick="#model.undo()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getUndoDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-undo.html"></div>
                        <div class="button-text">Undo (Ctrl+Z)</div>
                    </div>
                </button>
                <button id="menuEditRedo" 
                        title="Redo" 
                        class="action-text" 
                        onclick="#model.redo()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getRedoDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-redo.html"></div>
                        <div class="button-text">Redo (Ctrl+Y)</div>
                    </div>
                </button>
                <hr />
                <button id="menuEditCut" 
                        title="Cut" 
                        class="action-text" 
                        onclick="#model.cut()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-cut.html"></div>
                        <div class="button-text">Cut (Ctrl+X)</div>
                    </div>
                </button>
                <button id="menuEditCopy" 
                        title="Copy" 
                        class="action-text" 
                        onclick="#model.copy()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-copy.html"></div>
                        <div class="button-text">Copy (Ctrl+C)</div>
                    </div>
                </button>
                <button id="menuEditPaste" 
                        title="Paste" 
                        class="action-text" 
                        onclick="#model.paste()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getPasteDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-paste.html"></div>
                        <div class="button-text">Paste (Ctrl+V)</div>
                    </div>
                </button>
                <button id="menuEditDelete" 
                        title="Delete" 
                        class="action-text" 
                        onclick="#model.delete()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-delete.html"></div>
                        <div class="button-text">Delete (Del)</div>
                    </div>
                </button>
                <hr />
                <button id="menuEditToolOptions" 
                        title="Tool options" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-tool-options')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getToolOptionsDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/tool-options.html"></div>
                        <div class="button-text">Tool options ...</div>
                    </div>
                </button>
                <button id="menuEditEditMapItems" 
                        title="Edit map items" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-map-items-edit')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getMapItemsEditDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/edit-map-items-edit.html"></div>
                        <div class="button-text">Edit map items ...</div>
                    </div>
                </button>
            </div>
        </div>
        <div>
            <button onclick="#model.toggleDropdown('menu-view')" 
                    class="top-menu-item action-text" 
                    data-dropdown-id="menu-view">
                View
            </button>
            <div id="menu-view" class="dropdown-content">
                <button title="Zoom" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-zoom')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getZoomDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/view-zoom.html"></div>
                        <div class="button-text">Zoom ...</div>
                    </div>
                </button>
                <button title="Resize canvas" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-canvas-size')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getResizeCanvasDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/view-resize-canvas.html"></div>
                        <div class="button-text">Resize canvas ...</div>
                    </div>
                </button>
                <button title="Overlay" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-overlay')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getOverlayDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/view-overlay.html"></div>
                        <div class="button-text">Overlay ...</div>
                    </div>
                </button>
                <button title="Layers" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-layers')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getLayersDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/view-layers.html"></div>
                        <div class="button-text">Layers ...</div>
                    </div>
                </button>
                <hr />
                <button title="Presentation viewer" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-viewer')" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getPresentationViewDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/view-read-only-viewer.html"></div>
                        <div class="button-text">Presentation viewer ...</div>
                    </div>
                </button>
                <button id="refresh-presentation-view-menu-button" 
                        title="Refresh presentation viewer" 
                        class="action-text" 
                        onclick="#model.refreshPresentationViewer()" 
                        kit-element 
                        kit-attr-disabled="disabled:%{#model.getRefreshPresentationViewerDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container" kit-component="no-model:/resources/icons/refresh.html"></div>
                        <div class="button-text">Refresh presentation viewer</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    
    <!-- toolbar -->
    <div id="toolbar" class="surface-secondary">
        <div class="toolbar-group">
            <div class="group-divider"></div>
            <button title="New map" class="action-text" onclick="#model.showDialog('dlg-file-new')">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-new.html"></div>
                </div>
            </button>
            <button title="Open map" class="action-text" onclick="#model.showDialog('dlg-file-open')">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-open.html"></div>
                </div>
            </button>
            <button title="Save map" 
                    class="action-text" 
                    onclick="#model.saveMap()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getSaveDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-save.html"></div>
                </div>
            </button>
        </div>
        <div class="toolbar-group">
            <div class="group-divider"></div>
            <button id="buttonSelectAllInView" 
                    title="Select all in view" 
                    class="action-text" 
                    onclick="#model.selectAllInView()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getSelectAllInViewDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-select-all-in-view.html"></div>
                </div>
            </button>
            <button id="buttonUnSelectAll" 
                    title="Unselect all" 
                    class="action-text" 
                    onclick="#model.unSelectAll()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getUnSelectAllDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-unselect-all.html"></div>
                </div>
            </button>
            <button id="buttonUndo" 
                    title="Undo" 
                    class="action-text" 
                    onclick="#model.undo()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getUndoDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-undo.html"></div>
                </div>
            </button>
            <button id="buttonRedo" 
                    title="Redo" 
                    class="action-text" 
                    onclick="#model.redo()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getRedoDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-redo.html"></div>
                </div>
            </button>
            <button id="buttonCut" 
                    title="Cut" 
                    class="action-text" 
                    onclick="#model.cut()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-cut.html"></div>
                </div>
            </button>
            <button id="buttonCopy" 
                    title="Copy" 
                    class="action-text" 
                    onclick="#model.copy()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-copy.html"></div>
                </div>
            </button>
            <button id="buttonPaste" 
                    title="Paste" 
                    class="action-text" 
                    onclick="#model.paste()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getPasteDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-paste.html"></div>
                </div>
            </button>
            <button id="buttonDelete" 
                    title="Delete" 
                    class="action-text" 
                    onclick="#model.delete()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-delete.html"></div>
                </div>
            </button>
            <button id="buttonToolOptions" 
                    title="Tool options" 
                    class="action-text" 
                    onclick="#model.showDialog('dlg-tool-options')" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getToolOptionsDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/tool-options.html"></div>
                </div>
            </button>
            <button id="buttonMapItemsEdit" 
                    title="Edit map items" 
                    class="action-text" 
                    onclick="#model.showDialog('dlg-map-items-edit')" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getMapItemsEditDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/edit-map-items-edit.html"></div>
                </div>
            </button>
        </div>
        <div class="toolbar-group">
            <div class="group-divider"></div>
            <button title="Zoom" 
                    class="action-text" 
                    onclick="#model.showDialog('dlg-zoom')" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getZoomDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/view-zoom.html"></div>
                    <span id="zoom-label">%{#model.getZoom()}%</span>
                </div>
            </button>
            <button title="Resize canvas" 
                    class="action-text" 
                    onclick="#model.showDialog('dlg-canvas-size')" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getResizeCanvasDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/view-resize-canvas.html"></div>
                </div>
            </button>
            <button title="Overlay" 
                    class="action-text" 
                    onclick="#model.showDialog('dlg-overlay')" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getOverlayDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/view-overlay.html"></div>
                </div>
            </button>
            <button title="Layers" 
                    class="action-text" 
                    onclick="#model.showDialog('dlg-layers')" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getLayersDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/view-layers.html"></div>
                    <div id="divActiveLayer">%{#model.getActiveLayerName()}%</div>
                </div>
            </button>
            <button id="refresh-presentation-view-toolbar-button" 
                    title="Refresh presentation viewer" 
                    class="action-text" 
                    onclick="#model.refreshPresentationViewer()" 
                    kit-element 
                    kit-attr-disabled="disabled:%{#model.getRefreshPresentationViewerDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container" kit-component="no-model:/resources/icons/refresh.html"></div>
                </div>
            </button>
        </div>
    </div>
    
    <!-- tools and map -->
    <div id="tools-and-map">
        <div id="tools">
            <header id="tools-header">
                <div>Tools</div>
                <div class="spacer"></div>
                <button id="manage-tool-palettes-button" 
                        title="Manage tool palettes" 
                        class="action-text" 
                        onclick="#model.showDialog('dlg-tool-palettes')">
                    <div class="icon-container" kit-component="no-model:/resources/icons/tool-palette.html"></div>
                </button>
                <button title="Pin tool palettes" class="action-text" onclick="#model.toggleToolsPinned()">
                    <div id="pinned-icon" class="icon-container" kit-component="no-model:/resources/icons/pin.html"></div>
                </button>
            </header>
            <section id="tool-palette-content" kit-element>
                <div class="tool-types">
                    <header>
                        <div>Editing tools</div>
                    </header>
                    <section kit-array="#model.getToolPalettes('EditingTools')" 
                             kit-array-index-alias="paletteIndex"
                             style="overflow-x:auto;">
                        <div kit-array="#model.getToolPaletteItems('EditingTools', %{#paletteIndex}%)"
                             kit-array-item-alias="tool"
                             class="tool-palette">
                            <button id="%{#tool.id}%"
                                    onclick="#model.onToolSelected(#tool.id, #tool.data.ref)"
                                    class="tool-button data-editing-tool-button"
                                    title="%{#tool.data.ref.name}%">
                                <svg height="25" width="25" viewBox="0 0 100 100">%{#tool.data.thumbnailSrc}%</svg>
                            </button>
                        </div>
                    </section>
                </div>
                <div id="drawing-tools" class="tool-types">
                    <header class="surface-secondary">
                        <div>Drawing tools</div>
                    </header>
                    <section kit-array="#model.getToolPalettes('DrawingTools')" 
                             kit-array-index-alias="paletteIndex" 
                             style="overflow-x:auto;">
                        <div kit-array="#model.getToolPaletteItems('DrawingTools', %{#paletteIndex}%)"
                             kit-array-item-alias="tool"
                             class="tool-palette">
                            <button id="%{#tool.id}%"
                                    onclick="#model.onToolSelected(#tool.id, #tool.data.ref)"
                                    class="tool-button data-drawing-tool-button"
                                    title="%{#tool.data.ref.name}%">
                                <svg height="25" width="25" viewBox="0 0 100 100">%{#tool.data.thumbnailSrc}%</svg>
                            </button>
                        </div>
                    </section>
                </div>
                <div id="map-item-templates" class="tool-types">
                    <header>
                        <div>Map item templates</div>
                    </header>
                    <section kit-array="#model.getToolPalettes('MapItemTemplates')" 
                             kit-array-index-alias="paletteIndex" 
                             style="overflow-x:auto;">
                        <div kit-array="#model.getToolPaletteItems('MapItemTemplates', %{#paletteIndex}%)"
                             kit-array-item-alias="mapItemTemplate"
                             class="tool-palette">
                            <button id="%{#mapItemTemplate.id}%"
                                    onclick="#model.onMapItemTemplateSelected(#mapItemTemplate.id, #mapItemTemplate.data.ref)"
                                    class="tool-button data-map-item-template-button"
                                    title="%{#mapItemTemplate.data.ref.name}%">
                                <div class="image-thumbnail"
                                     style="background-image: url('%{#mapItemTemplate.data.thumbnailSrc}%');">
                                </div>
                            </button>
                        </div>
                    </section>
                </div>
            </section>
        </div>
        <div id="map-container">
            <div>
                <canvas id="map-canvas" width="1200" height="750"></canvas>
            </div>
            <div id="no-map">[No map]</div>
            <div id="map-saved-notification" class="hidden">
                Saved
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    
    <!-- dialogs -->
    <kit id="dlg-file-new" kit-component="/components/map-editor/file-new-dialog/file-new-dialog.html"></kit>
    <kit id="dlg-file-open" kit-component="/components/map-editor/file-open-dialog/file-open-dialog.html"></kit>
    <kit id="dlg-file-save" kit-component="/components/map-editor/file-save-dialog/file-save-dialog.html"></kit>
    <kit id="dlg-file-save-as" kit-component="/components/map-editor/file-save-as-dialog/file-save-as-dialog.html"></kit>
    <kit id="dlg-tool-options" kit-component="/components/map-editor/tool-options-dialog/tool-options-dialog.html"></kit>
    <kit id="dlg-map-items-edit" kit-component="/components/map-editor/map-items-edit-dialog/map-items-edit-dialog.html"></kit>
    <kit id="dlg-zoom" kit-component="/components/map-editor/zoom-dialog/zoom-dialog.html"></kit>
    <kit id="dlg-canvas-size" kit-component="/components/map-editor/canvas-size-dialog/canvas-size-dialog.html"></kit>
    <kit id="dlg-overlay" kit-component="/components/map-editor/overlay-dialog/overlay-dialog.html"></kit>
    <kit id="dlg-layers" kit-component="/components/map-editor/layers-dialog/layers-dialog.html"></kit>
    <kit id="dlg-tool-palettes" kit-component="/components/map-editor/tool-palettes-dialog/tool-palettes-dialog.html"></kit>
    <kit id="dlg-viewer" kit-component="/components/map-editor/presentation-viewer-dialog/presentation-viewer-dialog.html"></kit>

</section>
