
<section class="editor-component">
    <link rel="stylesheet" href="/components/map-editor/editor/editor.css" />
    <div id="menu">
        <div>
            <button onclick="#model.toggleDropdown('menu-file')" 
                    class="top-menu-item action-text" 
                    data-dropdown-id="menu-file">
                File
            </button>
            <div id="menu-file" class="dropdown-content">
                <button title="New map" class="action-text" onclick="#model.showDialog('file-new-dialog-component')">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/file-new.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">New ...</div>
                    </div>
                </button>
                <button title="Open map" class="action-text" onclick="#model.showDialog('file-open-dialog-component')">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/file-open.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Open ...</div>
                    </div>
                </button>
                <button title="Close map" 
                        class="action-text" 
                        onclick="#model.closeMap()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getCloseDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/file-close.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Close</div>
                    </div>
                </button>
                <hr />
                <button title="Save map" 
                        class="action-text" 
                        onclick="#model.saveMap()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getSaveDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/file-save.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Save</div>
                    </div>
                </button>
                <button title="Save map as" 
                        class="action-text" 
                        onclick="#model.saveMapAs()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getSaveDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/file-save-as.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Save as ...</div>
                    </div>
                </button>
                <button title="Publish file" class="action-text" disabled>
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/file-publish.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Publish ...</div>
                    </div>
                </button>
            </div>
        </div>
        <div>
            <button onclick="#model.toggleDropdown('menu-edit')" 
                    class="top-menu-item action-text" 
                    data-dropdown-id="menu-edit">
                Edit
            </button>
            <div id="menu-edit" class="dropdown-content">
                <button id="menuEditSelectAllInView" 
                        title="Select all in view" 
                        class="action-text" 
                        onclick="#model.selectAllInView()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getSelectAllInViewDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-select-all-in-view.html" kit-model="null">
                            </kit-component>
                        </div>
                        <div class="button-text">Select all in view (Ctrl+A)</div>
                    </div>
                </button>
                <button id="menuEditUnSelectAll" 
                        title="Unselect all" 
                        class="action-text" 
                        onclick="#model.unSelectAll()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getUnSelectAllDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-unselect-all.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Unselect all (Ctrl+Alt+A)</div>
                    </div>
                </button>
                <hr />
                <button id="menuEditUndo" 
                        title="Undo" 
                        class="action-text" 
                        onclick="#model.undo()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getUndoDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-undo.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Undo (Ctrl+Z)</div>
                    </div>
                </button>
                <button id="menuEditRedo" 
                        title="Redo" 
                        class="action-text" 
                        onclick="#model.redo()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getRedoDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-redo.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Redo (Ctrl+Y)</div>
                    </div>
                </button>
                <hr />
                <button id="menuEditCut" 
                        title="Cut" 
                        class="action-text" 
                        onclick="#model.cut()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-cut.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Cut (Ctrl+X)</div>
                    </div>
                </button>
                <button id="menuEditCopy" 
                        title="Copy" 
                        class="action-text" 
                        onclick="#model.copy()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-copy.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Copy (Ctrl+C)</div>
                    </div>
                </button>
                <button id="menuEditPaste" 
                        title="Paste" 
                        class="action-text" 
                        onclick="#model.paste()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getPasteDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-paste.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Paste (Ctrl+V)</div>
                    </div>
                </button>
                <button id="menuEditDelete" 
                        title="Delete" 
                        class="action-text" 
                        onclick="#model.delete()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-delete.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Delete (Del)</div>
                    </div>
                </button>
                <hr />
                <button id="menuEditToolOptions" 
                        title="Tool options" 
                        class="action-text" 
                        onclick="#model.showDialog('tool-options-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getToolOptionsDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/tool-options.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Tool options ...</div>
                    </div>
                </button>
                <button id="menuEditEditMapItems" 
                        title="Edit map items" 
                        class="action-text" 
                        onclick="#model.showDialog('map-items-edit-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getMapItemsEditDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/edit-map-items-edit.html" kit-model="null">
                            </kit-component>
                        </div>
                        <div class="button-text">Edit map items ...</div>
                    </div>
                </button>
            </div>
        </div>
        <div>
            <button onclick="#model.toggleDropdown('menu-view')" 
                    class="top-menu-item action-text" 
                    data-dropdown-id="menu-view">
                View
            </button>
            <div id="menu-view" class="dropdown-content">
                <button title="Zoom" 
                        class="action-text" 
                        onclick="#model.showDialog('zoom-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getZoomDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/view-zoom.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Zoom ...</div>
                    </div>
                </button>
                <button title="Resize canvas" 
                        class="action-text" 
                        onclick="#model.showDialog('canvas-size-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getResizeCanvasDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/view-resize-canvas.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Resize canvas ...</div>
                    </div>
                </button>
                <button title="Overlay" 
                        class="action-text" 
                        onclick="#model.showDialog('overlay-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getOverlayDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/view-overlay.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Overlay ...</div>
                    </div>
                </button>
                <button title="Layers" 
                        class="action-text" 
                        onclick="#model.showDialog('layers-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getLayersDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/view-layers.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Layers ...</div>
                    </div>
                </button>
                <hr />
                <button title="Presentation viewer" 
                        class="action-text" 
                        onclick="#model.showDialog('presentation-viewer-dialog-component')" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getPresentationViewDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/view-read-only-viewer.html" kit-model="null">
                            </kit-component>
                        </div>
                        <div class="button-text">Presentation viewer ...</div>
                    </div>
                </button>
                <button id="refresh-presentation-view-menu-button" 
                        title="Refresh presentation viewer" 
                        class="action-text" 
                        onclick="#model.refreshPresentationViewer()" 
                        kit-element 
                        kit-attr-add-disabled="disabled:%{#model.getRefreshPresentationViewerDisabledAttr()}%">
                    <div class="button-content">
                        <div class="icon-container">
                            <kit-component kit-template-path="/resources/icons/refresh.html" kit-model="null"></kit-component>
                        </div>
                        <div class="button-text">Refresh presentation viewer</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div id="toolbar" class="surface-secondary">
        <div class="toolbar-group">
            <div class="group-divider"></div>
            <button title="New map" class="action-text" onclick="#model.showDialog('file-new-dialog-component')">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/file-new.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button title="Open map" class="action-text" onclick="#model.showDialog('file-open-dialog-component')">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/file-open.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button title="Save map" 
                    class="action-text" 
                    onclick="#model.saveMap()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getSaveDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/file-save.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
        </div>
        <div class="toolbar-group">
            <div class="group-divider"></div>
            <button id="buttonSelectAllInView" 
                    title="Select all in view" 
                    class="action-text" 
                    onclick="#model.selectAllInView()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getSelectAllInViewDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-select-all-in-view.html" kit-model="null">
                        </kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonUnSelectAll" 
                    title="Unselect all" 
                    class="action-text" 
                    onclick="#model.unSelectAll()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getUnSelectAllDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-unselect-all.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonUndo" 
                    title="Undo" 
                    class="action-text" 
                    onclick="#model.undo()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getUndoDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-undo.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonRedo" 
                    title="Redo" 
                    class="action-text" 
                    onclick="#model.redo()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getRedoDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-redo.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonCut" 
                    title="Cut" 
                    class="action-text" 
                    onclick="#model.cut()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-cut.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonCopy" 
                    title="Copy" 
                    class="action-text" 
                    onclick="#model.copy()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-copy.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonPaste" 
                    title="Paste" 
                    class="action-text" 
                    onclick="#model.paste()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getPasteDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-paste.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonDelete" 
                    title="Delete" 
                    class="action-text" 
                    onclick="#model.delete()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getEditSelectionDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-delete.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonToolOptions" 
                    title="Tool options" 
                    class="action-text" 
                    onclick="#model.showDialog('tool-options-dialog-component')" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getToolOptionsDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/tool-options.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button id="buttonMapItemsEdit" 
                    title="Edit map items" 
                    class="action-text" 
                    onclick="#model.showDialog('map-items-edit-dialog-component')" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getMapItemsEditDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/edit-map-items-edit.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
        </div>
        <div class="toolbar-group">
            <div class="group-divider"></div>
            <button title="Zoom" 
                    class="action-text" 
                    onclick="#model.showDialog('zoom-dialog-component')" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getZoomDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/view-zoom.html" kit-model="null"></kit-component>
                    </div>
                    <span id="zoom-label">%{#model.getZoom()}%</span>
                </div>
            </button>
            <button title="Resize canvas" 
                    class="action-text" 
                    onclick="#model.showDialog('canvas-size-dialog-component')" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getResizeCanvasDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/view-resize-canvas.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button title="Overlay" 
                    class="action-text" 
                    onclick="#model.showDialog('overlay-dialog-component')" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getOverlayDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/view-overlay.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
            <button title="Layers" 
                    class="action-text" 
                    onclick="#model.showDialog('layers-dialog-component')" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getLayersDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/view-layers.html" kit-model="null"></kit-component>
                    </div>
                    <div id="divActiveLayer">%{#model.getActiveLayerName()}%</div>
                </div>
            </button>
            <button id="refresh-presentation-view-toolbar-button" 
                    title="Refresh presentation viewer" 
                    class="action-text" 
                    onclick="#model.refreshPresentationViewer()" 
                    kit-element 
                    kit-attr-add-disabled="disabled:%{#model.getRefreshPresentationViewerDisabledAttr()}%">
                <div class="button-content">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/refresh.html" kit-model="null"></kit-component>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <div id="tools-and-map">
        <div id="tools">
            <header id="tools-header">
                <div>Tools</div>
                <div class="spacer"></div>
                <button id="manage-tool-palettes-button" 
                        title="Manage tool palettes" 
                        class="action-text" 
                        onclick="#model.showDialog('tool-palettes-dialog-component')">
                    <div class="icon-container">
                        <kit-component kit-template-path="/resources/icons/tool-palette.html" kit-model="null"></kit-component>
                    </div>
                </button>
                <button title="Pin tool palettes" class="action-text" onclick="#model.toggleToolsPinned()">
                    <div id="pinned-icon" class="icon-container">
                        <kit-component kit-template-path="/resources/icons/pin.html" kit-model="null"></kit-component>
                    </div>
                </button>
            </header>
            <section>
                <kit-if id="tool-palette-content" kit-condition="true">
                    <div class="tool-types">
                        <header>
                            <div>Editing tools</div>
                        </header>
                        <section style="overflow-x:auto;">
                            <kit-array kit-array="#model.getToolPalettes('EditingTools')" kit-array-item-index-alias="paletteIndex">
                                <div>
                                    <kit-array class="tool-palette" 
                                               kit-array="#model.getToolPaletteItems('EditingTools', %{#paletteIndex}%)" 
                                               kit-array-alias="paletteItems" 
                                               kit-array-item-alias="tool">
                                        <button id="%{#tool.id}%"
                                                onclick="#model.onToolSelected(#tool.id, #tool.data.ref)"
                                                class="tool-button data-editing-tool-button"
                                                title="%{#tool.data.ref.name}%">
                                            <svg height="25" width="25" viewBox="0 0 100 100">%{#tool.data.thumbnailSrc}%</svg>
                                        </button>
                                    </kit-array>
                                </div>
                            </kit-array>
                        </section>
                    </div>
                    <div id="drawing-tools" class="tool-types">
                        <header class="surface-secondary">
                            <div>Drawing tools</div>
                        </header>
                        <section style="overflow-x:auto;">
                            <kit-array kit-array="#model.getToolPalettes('DrawingTools')" kit-array-item-index-alias="paletteIndex">
                                <div>
                                    <kit-array class="tool-palette" 
                                               kit-array="#model.getToolPaletteItems('DrawingTools', #paletteIndex)" 
                                               kit-array-item-alias="tool">
                                        <button id="%{#tool.id}%"
                                                onclick="#model.onToolSelected(#tool.id, #tool.data.ref)"
                                                class="tool-button data-drawing-tool-button"
                                                title="%{#tool.data.ref.name}%">
                                            <svg height="25" width="25" viewBox="0 0 100 100">%{#tool.data.thumbnailSrc}%</svg>
                                        </button>
                                    </kit-array>
                                </div>
                            </kit-array>
                        </section>
                    </div>
                    <div id="map-item-templates" class="tool-types">
                        <header>
                            <div>Map item templates</div>
                        </header>
                        <section style="overflow-x:auto;">
                            <kit-array kit-array="#model.getToolPalettes('MapItemTemplates')" kit-array-item-index-alias="paletteIndex">
                                <div>
                                    <kit-array class="tool-palette" 
                                               kit-array="#model.getToolPaletteItems('MapItemTemplates', #paletteIndex)" 
                                               kit-array-item-alias="mapItemTemplate">
                                        <button id="%{#mapItemTemplate.id}%"
                                                onclick="#model.onMapItemTemplateSelected(#mapItemTemplate.id, #mapItemTemplate.data.ref)"
                                                class="tool-button data-map-item-template-button"
                                                title="%{#mapItemTemplate.data.ref.name}%">
                                            <div class="image-thumbnail" 
                                                 style="background-image: url('%{#mapItemTemplate.data.thumbnailSrc}%');">
                                            </div>
                                        </button>
                                    </kit-array>
                                </div>
                            </kit-array>
                        </section>
                    </div>
                </kit-if>
            </section>
        </div>
        <div id="map-container">
            <div>
                <canvas id="map-canvas" width="1200" height="750"></canvas>
            </div>
            <div id="no-map">[No map]</div>
            <div id="map-saved-notification" class="hidden">
                Saved
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    <kit-component id="file-new-dialog-component" 
                   kit-template-path="/components/map-editor/file-new-dialog/file-new-dialog.html">
    </kit-component>
    <kit-component id="file-open-dialog-component" 
                   kit-template-path="/components/map-editor/file-open-dialog/file-open-dialog.html">
    </kit-component>
    <kit-component id="file-save-dialog-component" 
                   kit-template-path="/components/map-editor/file-save-dialog/file-save-dialog.html">
    </kit-component>
    <kit-component id="file-save-as-dialog-component" 
                   kit-template-path="/components/map-editor/file-save-as-dialog/file-save-as-dialog.html">
    </kit-component>
    <kit-component id="tool-options-dialog-component" 
                   kit-template-path="/components/map-editor/tool-options-dialog/tool-options-dialog.html">
    </kit-component>
    <kit-component id="map-items-edit-dialog-component" 
                   kit-template-path="/components/map-editor/map-items-edit-dialog/map-items-edit-dialog.html">
    </kit-component>
    <kit-component id="zoom-dialog-component" 
                   kit-template-path="/components/map-editor/zoom-dialog/zoom-dialog.html">
    </kit-component>
    <kit-component id="canvas-size-dialog-component" 
                   kit-template-path="/components/map-editor/canvas-size-dialog/canvas-size-dialog.html">
    </kit-component>
    <kit-component id="overlay-dialog-component" 
                   kit-template-path="/components/map-editor/overlay-dialog/overlay-dialog.html">
    </kit-component>
    <kit-component id="layers-dialog-component" 
                   kit-template-path="/components/map-editor/layers-dialog/layers-dialog.html">
    </kit-component>
    <kit-component id="tool-palettes-dialog-component" 
                   kit-template-path="/components/map-editor/tool-palettes-dialog/tool-palettes-dialog.html">
    </kit-component>
    <kit-component id="presentation-viewer-dialog-component" 
                   kit-template-path="/components/map-editor/presentation-viewer-dialog/presentation-viewer-dialog.html">
    </kit-component>
</section>
