
.map-item-template-name {
    margin: 0 5px 5px 0;
    display: block;
    font-size: small;
    font-weight: normal;
}

.map-item-template-name:not(.from-template) {
    cursor: pointer;
}

.from-template {
    cursor: default;
}

.map-item-template-name:not(.from-template):hover {
    text-decoration: underline;
}
