
<kit kit-if="#model?.isVisible()">
    <link rel="stylesheet" href="/components/map-editor/file-open-dialog/file-open-dialog.css" />
    <dialog id="file-open-dialog">
        <header>
            <div class="icon-container" kit-component="no-model:/resources/icons/file-open.html"></div>
            <div>
                <h1>Open map</h1>
            </div>
            <div class="spacer"></div>
            <div>
                <button title="Close" class="action-text" onclick="#model.closeDialog();">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-close.html"></div>
                </button>
            </div>
        </header>
        <section>
            <div>
                <label>Choose file path:</label>
            </div>
            <div id="file-container">
                <input id="file-name" type="text" placeholder="file name" disabled />
                <input id="file-input" type="file" accept=".json" onchange="#model.onFileSelected()" />
                <button id="browse" class="button dialog-button" title="browse" onclick="#model.browse(event)" autofocus>
                    ...
                </button>
            </div>
            <div>
                <button id="button-ok" class="button dialog-button" title="OK" onclick="#model.buttonOkClicked();" disabled>
                    OK
                </button>
            </div>
        </section>
    </dialog>
</kit>
