
<section id="domain-name-and-description-component">
    <link rel="stylesheet" href="./components/domain-components/name-and-description/name-and-description.css" />
    <div id="name-and-description-content">
        <div id="input-row">
            <div>Name:</div>
            <div>
                <input type="text" id="input-name" value="%{#model.getName()}%" onblur="#model.updateName()" />
            </div>
        </div>
        <div id="input-row">
            <div>Portrait:</div>
            <div>
                <div id="portrait-container">
                    <img id="portrait" kit-element kit-attr-src="src:%{#model.getPortrait()}%" />
                </div>
            </div>
            <div>
                <button id="portrait-browse" class="button" onclick="#model.browsePortrait(event)">Browse ...</button>
                <input id="file-input" 
                       type="file" 
                       accept=".png, .gif, .jpeg, .jpg" 
                       onchange="#model.onFileSelected()" 
                       style="display:none;" />
            </div>
        </div>
        <div id="input-row">
            <div>Description:</div>
            <div>
                <textarea id="input-description" onblur="#model.updateDescription()"></textarea>
            </div>
        </div>
        <div id="input-row">
            <div>History/Notes:</div>
            <div>
                <textarea id="input-history-notes" onblur="#model.updateHistoryNotes()"></textarea>
            </div>
        </div>
    </div>
</section>
