
<section class="home-component">
    <style>
        @scope (.home-component) {
            :scope {
                text-align: center;
                padding: 10px;
            }

            .logo {
                margin: auto;
            }
        }
    </style>
    <h1>Welcome to Atlas Cooperative</h1>
    <div class="logo" style="height:180px;width:180px;" title="Atlas Cooperative">
        <kit-component data-kit-template-path="/resources/icons/logo.html" data-kit-model="null"></kit-component>
    </div>
    <p>
        [content tbd]
    </p>
</section>
