
<section class="home-component">
    <style>
        @scope (.home-component) {
            :scope {
                padding: 10px;
            }

            #welcome {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #logo {
                height: 180px;
                width: 180px;
                margin-bottom: 50px;
            }

            #quote {
                font-size: smaller;
                font-style: italic;
                margin-top: 100px;
            }

            blockquote {
                max-width: 650px;
                color: var(--color-surface-container-on);
            }

            #quote-attribute {
                margin: 5px 5px 5px 20px;
                font-weight: bolder;
            }
        }
    </style>
    <div id="welcome">
        <div>
            <h1>Welcome to Atlas Cooperative</h1>

        </div>
        <div>
            <div id="logo" title="Atlas Cooperative">
                <kit-component data-kit-template-path="/resources/icons/logo.html" data-kit-model="null"></kit-component>
            </div>
        </div>
    </div>
    <div id="content">
        <p>Hello, and welcome to Atlas Cooperative.  Here you will find tools to help you map the worlds of your mind's eye!</p>
        <p>Start by navigating to the Editor, click File | New ..., and select one of the built-in templates (Overland, Locale, or Site).</p>
        <p>I haven't written any tutorials (yet). I hope the tools aren't too confusing to use.  If they are, my apologies.</p>
        <br />
        <p>The Catalog and Account sections haven't been developed yet. This is where I intend, eventually, to put tools for sharing maps with friends and fellow cartographers.</p>
        <p>For now, you can save your maps to file and email them.</p>
        <br />
        <p>The Help section contains controls for setting preferences and an error log in case (&#128558;) you encounter any bugs.</p>
        <p>In the future, I may add an FAQ section and perhaps tutorials.</p>
        <br />
        <p>Everything here is free to use and my intent is that it remain so.</p>
        <p><i>(Down the road, if these tools see a lot of use from a lot of people, I may introduce some kind of membership fee to offset hosting costs.  Perhaps a guild with annual dues? TBD.)</i></p>
        <br />
        <p>I hope you enjoy this site and thanks for visiting!</p>
        <p>- jh</p>
    </div>
    <div id="quote">
        <div>
            <blockquote>
                "... I saw the evening star hanging like a solitaire from the pure front of the western firmament; and the after-glow transfiguring and transforming, as if by magic, the homely and rugged features of the scene into a fairy-land lit with a light which never shines on other soils or seas."
            </blockquote>
            <div id="quote-attribute">
                <p>from The Book of The Thousand Nights and a Night</p>
                <p>Richard Burton - August 15, 1885</p>
            </div>
        </div>
    </div>
</section>
