
<section class="home-component">
    <link rel="stylesheet" href="/components/home/home.css" />
    <div id="welcome">
        <div>
            <h1>Welcome to Atlas Cooperative</h1>

        </div>
        <div>
            <div id="logo" title="Atlas Cooperative">
                <kit-component kit-template-path="/resources/icons/logo.html" kit-model="null"></kit-component>
            </div>
        </div>
    </div>
    <div id="content">
        <p>Hello, and welcome to Atlas Cooperative.</p>
        <p>This site contains tools to help us draw and share maps of the worlds of our imaginations.</p>
        <p>To draw a map, navigate to the Editor, click File | New ..., and, to start, select one of the built-in templates (Overland, Locale, or Site).</p>
        <p>These templates contain built-in tools and styles that make it easier to get started.</p>
        <p>I haven't written any tutorials (yet). I hope the tools aren't too confusing to use. If they are, my apologies.</p>
        <br />
        <p>The Catalog and Account sections haven't been developed yet.</p>
        <p>This is where I intend, eventually, to put tools for sharing maps with friends and fellow cartographers (the cooperative part of Atlas Cooperative).</p>
        <p>For now, you can save your maps to file and email them.</p>
        <br />
        <p>The Help section contains controls for setting preferences and an error log in case (😮) you encounter any bugs.</p>
        <p>In the future, I may add an FAQ section and tutorials.</p>
        <br />
        <p>Everything here is free to use and my intent is that it remain so.</p>
        <p>
            <i>(Down the road, if these tools see a lot of use from a lot of people, I may introduce some kind of membership fee to offset hosting costs. Perhaps a guild with annual dues? TBD.)</i>
        </p>
        <br />
        <p>I hope you enjoy this site and thanks for visiting!</p>
        <p>- jh</p>
    </div>
</section>
