
<section id="domain-ability-scores-and-hit-points-component">
    <link rel="stylesheet" href="./components/domain-components/ability-scores-and-hit-points/ability-scores-and-hit-points.css" />
    <div id="ability-scores-and-hit-points-content">
        <div id="ability-scores-content">
            <div id="ability-scores-summary" class="summary">
                <div class="summary-label no-wrap">Ability scores</div>
                <div>
                    <div id="expand-ability-scores"
                         title="Show Detail"
                         class="toggle-button toggle-button-expand"
                         onpointerdown="#model.toggleDetail(event, 'ability-scores-detail')"
                         kit-component="no-model:./resources/icons/expand.html">
                    </div>
                    <div id="collapse-ability-scores"
                         title="Hide Detail"
                         class="toggle-button toggle-button-collapse hidden"
                         onpointerdown="#model.toggleDetail(event, 'ability-scores-detail')"
                         kit-component="no-model:./resources/icons/collapse.html">
                    </div>
                </div>
            </div>
            <div id="ability-scores-detail" class="detail hidden">
                <div>
                    <div class="info-row">
                        <div class="checkbox-container">
                            <label class="checkbox">
                                <input type="checkbox"
                                       kit-element
                                       kit-attr-checked="checked:%{#model.useAbilityScorePointsSystem() ? '' : null}%"
                                       onclick="#model.togglePointsSystem() " />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="no-wrap">Use points system</div>
                    </div>
                    <div id="points-remaining-row" kit-if="#model.useAbilityScorePointsSystem()" class="info-row">
                        <div id="points-remaining" class="no-wrap">Points remaining: <span>%{#model.getPointsRemaining()}%</span></div>
                    </div>
                    <div id="min-base-score-row" kit-element class="info-row">
                        <div class="no-wrap">Minimum base score: %{#model.getMinBaseScore()}%</div>
                    </div>
                    <div id="max-base-score-row" kit-element class="info-row">
                        <div class="no-wrap">Maximum base score: %{#model.getMaxBaseScore()}%</div>
                    </div>
                </div>
                <div id="ability-score-table" kit-element>
                    <div class="ability-score-row ability-score-heading">
                        <div class="ability-cell">Ability</div>
                        <div class="ability-base-score-cell">Base score</div>
                        <div class="ability-modified-score-cell">Modified score</div>
                    </div>
                    <div kit-array="#model?.getAbilityScoresInfo() ?? []" kit-array-item-alias="abilityInfo">
                        <div class="ability-score-row">
                            <div class="ability-cell ability-score-name">%{#abilityInfo.title}%</div>
                            <div class="ability-base-score-cell">
                                <input type="number" kit-element
                                       kit-attr-min="min:%{#abilityInfo.minBaseScore}%"
                                       kit-attr-max="max:%{#abilityInfo.maxBaseScore}%"
                                       kit-attr-value="value:%{#abilityInfo.baseScore}%"
                                       onchange="#model.updateBaseAbilityScore(event, '%{#abilityInfo.name}%')" />
                            </div>
                            <div class="ability-modified-score-cell">
                                <div style="display:flex;">
                                    <div class="modified-ability-score">%{#abilityInfo.modifiedScore}%</div>
                                    <div kit-if="#abilityInfo.modifiers.length > 0">
                                        <div class="info-icon" 
                                             title="Show modifiers"
                                             onpointerdown="#model.toggleModifiers(event, #abilityInfo.name)"
                                             kit-component="no-model:./resources/icons/info.html">
                                        </div>
                                    </div>
                                </div>
                                <div class="modified-max-note">Max: %{#abilityInfo.modifiedMaxScore}% <b>*</b></div>
                            </div>
                        </div>
                        <div id="ability-modifiers-row-%{#abilityInfo.name}%" class="ability-modifiers-row hidden">
                            <div style="font-weight:bold;" class="no-wrap">Modifiers:</div>
                            <div kit-array="#abilityInfo.modifiers" kit-array-item-alias="modifier">
                                <div class="no-wrap">%{#modifier.title}% +%{#modifier.value}%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modified-max-note no-wrap"><b>*</b> Not including equipment modifiers</div>
            </div>
        </div>
        <div id="hit-points-content">
            <div id="hit-points-summary" class="summary">
                <div class="summary-label no-wrap">Hit points</div>
                <div>
                    <div id="expand-hit-points"
                         title="Show Detail"
                         class="toggle-button toggle-button-expand"
                         onpointerdown="#model.toggleDetail(event, 'hit-points-detail')"
                         kit-component="no-model:./resources/icons/expand.html">
                    </div>
                    <div id="collapse-hit-points"
                         title="Hide Detail"
                         class="toggle-button toggle-button-collapse hidden"
                         onpointerdown="#model.toggleDetail(event, 'hit-points-detail')"
                         kit-component="no-model:./resources/icons/collapse.html">
                    </div>
                </div>
            </div>
            <div id="hit-points-detail" class="detail hidden">
                <div id="hit-points-table"
                     kit-array="#model.getHitPointRows()"
                     kit-array-item-alias="row">
                    <div kit-if="#row.class" class="hit-point-row">
                        <div class="class-and-level-cell">%{#row.class}%, Level %{#row.level}%</div>
                        <div class="hit-points-base-cell">
                            <div>
                                <input type="number"
                                       kit-element
                                       data-class-index="%{#row.classIndex}%"
                                       data-level="%{#row.level}%"
                                       min="1"
                                       kit-attr-max="max:%{#row.hitDieSize}%"
                                       kit-attr-value="value:%{#row.hitPoints}%"
                                       onchange="#model.updateHitPoints(event)" />
                            </div>
                            <div class="hit-die">
                                D%{#row.hitDieSize}%
                            </div>
                        </div>
                        <div class="hit-points-modifier-cell">%{#row.conModifierAtLevel}%<b>*</b></div>
                        <div class="hit-point-total-cell">%{#row.modifiedHitPoints}%</div>
                    </div>
                    <div kit-if="#row.feature" class="hit-point-row">
                        <div class="feature-cell">%{#row.feature}%</div>
                        <div class="hit-point-total-cell">%{#row.modifiedHitPoints}%</div>
                    </div>
                    <div kit-if="#row.isTotal" class="hit-point-row hit-point-total-row">
                        <div class="feature-cell">Total =</div>
                        <div class="hit-point-total-cell">
                            <div class="grand-total">%{#row.totalHitPoints}%</div>
                        </div>
                    </div>
                </div>
                <div class="con-modifier-note no-wrap"><b>*</b> Constitution modifier at level</div>
            </div>
        </div>
    </div>
</section>
