
@scope (#domain-ability-scores-and-hit-points-component) {
    :scope {
    }

    #ability-scores-and-hit-points-content {
        padding: 5px;
        /*display: flex;
        flex-wrap: wrap;*/
    }

    #ability-scores-content,
    #hit-points-content {
        margin-bottom: 20px;
        margin-right: 10px;
        /*flex: 1;*/
    }

    #ability-scores-detail {
        padding: 5px;
    }

    #ability-score-table,
    #hit-points-table {
        border: 1px solid saddlebrown;
        padding: 5px;
        overflow: auto;
    }

    .ability-score-row,
    .hit-point-row {
        display: flex;
    }

    .ability-score-heading {
        font-weight:bold;
    }

    .ability-score-row > div,
    .hit-point-row > div
    {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
    }

    .ability-score-row > div {
        padding: 5px;
    }

    .hit-point-row > div {
        padding: 2px;
    }

    .ability-cell {
        width:100px;
        min-width:100px;
    }

    .ability-base-score-cell {
        width: 90px;
        min-width: 90px;
    }

    .ability-modified-score-cell {
        width: 120px;
        min-width:80px;
    }

    .class-and-level-cell {
        width: 140px;
        min-width: 140px;
        margin-top:5px;
    }

    .hit-points-base-cell {
        width: 60px;
        min-width: 60px;
    }

    .hit-points-modifier-cell {
        width: 40px;
        min-width: 40px;
        margin-top: 5px;
    }

    .hit-points-modifier-cell > b {
        color:saddlebrown;
        font-weight:bold;
    }

    .hit-point-total-cell {
        width: 40px;
        min-width: 40px;
        font-weight: bold;
        margin-top: 5px;
    }

    .hit-point-total-row {
        font-size:larger;
        color:darkred;
    }

    .hit-point-total-row > div {
        padding-top:10px;
        border-top: 1px dotted saddlebrown;
    }

    .feature-cell {
        width: 240px;
        min-width: 240px;
        margin-top: 5px;
    }

    .info-icon {
        margin: 8px 0 0 2px;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    .info-icon .icon{
        stroke:darkred;
        stroke-width:4px;
    }

    .info-icon .icon-text {
        fill: darkred;
    }

    .ability-modifiers-row {
        margin:0 5px 0 5px;
        padding:5px;
        border:1px dotted saddlebrown;
        color:saddlebrown;
        font-size:smaller;
        font-style:italic;
    }

    .summary {
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 3px double saddlebrown;
        font-weight: bold;
        white-space: nowrap;
    }

    .summary-label {
        flex: 1;
    }

    .no-wrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .toggle-button {
        height: 20px;
        width: 20px;
        border: none;
        background-color: transparent;
        float: right;
        cursor: pointer;
    }

    .toggle-button svg {
        border: 1px dotted saddlebrown;
    }

    .hidden {
        display: none;
    }

    .info-row {
        display:flex;
        margin-bottom:5px;
    }

    #points-remaining {
        margin-left: 30px;
    }

    #points-remaining > span {
        color:darkred;
    }

    .hit-die {
        font-size:small;
        color:saddlebrown;
        font-style:italic;
    }

    .ability-score-name {
        margin-top: 5px;
    }

    input[type=number] {
        width: 50px;
    }

    .modified-ability-score {
        font-weight: bold;
        font-size: larger;
        color:darkred;
        border:1px solid black;
        padding:4px;
        border-radius:3px;
        text-align:center;
        width:50px;
        min-width:50px;
    }

    .modified-max-note,
    .con-modifier-note {
        font-size: small;
        color: saddlebrown;
        font-style: italic;
    }

}
