
@scope (#domain-ability-scores-and-hit-points-component) {
    :scope {
    }

    #ability-scores-and-hit-points-content {
        padding: 5px;
    }

    #ability-scores-content,
    #hit-points-content {
        margin-bottom: 20px;
    }

    .summary {
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 3px double saddlebrown;
        font-weight: bold;
        white-space: nowrap;
    }

    .summary-label {
        flex: 1;
    }

    .no-wrap {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .toggle-button {
        height: 20px;
        width: 20px;
        border: none;
        background-color: transparent;
        float: right;
        cursor: pointer;
    }

    .toggle-button svg {
        border: 1px dotted saddlebrown;
    }

    .hidden {
        display: none;
    }

    .info-row {
        display:flex;
        margin-bottom:5px;
    }

    #points-remaining {
        margin-left: 30px;
    }

    #points-remaining > span {
        color:darkred;
    }

    table {
        border: 1px solid saddlebrown;
        border-collapse: collapse;
    }

    td {
        white-space:nowrap;
        padding: 5px;
        text-align: left;
        vertical-align:top;
    }

    thead tr {
        font-weight:bold;
    }

    .ability-modifiers {
        font-size:small;
        font-style:italic;
        width:100%;
    }

    .hit-die {
        font-size:small;
        color:saddlebrown;
        font-style:italic;
    }

    .ability-score-name {
        margin-top: 5px;
    }

    input[type=number] {
        width: 50px;
    }

    .modified-ability-score {
        font-weight: bold;
        font-size: larger;
        color:darkred;
        border:1px solid black;
        padding:4px;
        border-radius:3px;
        text-align:center;
        width:50px;
    }

    .modified-max-note,
    .modifier-note {
        font-size: small;
        color: saddlebrown;
        font-style: italic;
    }

    #hit-points-table {
        display:table;
        border:1px solid saddlebrown;
    }

    .hit-point-class-and-level {
        margin-top: 5px;
    }

    .hit-point-modifier {
        margin-bottom: 8px;
    }

    .hit-point-total {
        width: 100%;
        margin-top: 5px;
    }

    .hit-point-row {
        display:table-row;
    }

    .hit-point-row > div {
        display: table-cell;
        text-align:left;
        padding:5px;
    }

    .hit-point-row .hit-point-total {
        flex:1;
    }

    .hit-points-total,
    .hit-points-total-label {
        color: darkred;
        font-size:larger;
    }

    .hit-points-total {
        
    }
}
