
<kit kit-if="#model?.isVisible()">
    <dialog id="tool-options-dialog">
        <link rel="stylesheet" href="/components/map-editor/tool-options-dialog/tool-options-dialog.css" />
        <header>
            <div class="icon-container" kit-component="no-model:/resources/icons/tool-options.html"></div>
            <div>
                <h1>Tool options</h1>
            </div>
            <div class="spacer"></div>
            <div>
                <button title="Close" class="action-text" onclick="#model.closeDialog();">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-close.html"></div>
                </button>
            </div>
        </header>
        <section>
            <div>
                <label>Tool options:</label>
            </div>
            <div id="tool-option-list" kit-array="#model.getToolOptions()" kit-array-item-alias="toolOption">
                <kit kit-if="#toolOption.typeName == 'StatesToolOption'">
                    <div class="tool-button" title="%{#toolOption.description ?? #toolOption.label}%">
                        <label>%{#toolOption.label}%</label>
                        <kit kit-array="#toolOption.states" kit-array-item-alias="toolOptionState">
                            <label class="radio-button" title="%{#toolOptionState.description}%">
                                <input type="radio"
                                       id="tool-option-radio-%{#toolOption.name}%-%{#toolOptionState.name}%"
                                       name="%{#toolOption.name}%"
                                       value="%{#toolOptionState.name}%"
                                       kit-element
                                       kit-attr-checked="checked:%{#model.isToolOptionStateChecked(#toolOption.name, #toolOptionState.name) ? '' : null}%"
                                       onclick="#model.setStatesToolOption(#toolOption.name, this)" />
                                <span class="checkmark"></span>
                                <span>%{#toolOptionState.label}%</span>
                                <span class="spacer"></span>
                                <span class="keyboard-event-info">%{#toolOptionState.getKeyboardInfoLabel()}%</span>
                            </label>
                        </kit>
                    </div>
                </kit>
                <kit kit-if="#toolOption.typeName == 'BooleanToolOption'">
                    <div class="tool-button" title="%{#toolOption.description ?? #toolOption.label}%">
                        <label>%{#toolOption.label}%</label>
                        <label class="checkbox">
                            <input type="checkbox"
                                   id="tool-option-checkbox-%{#toolOption.name}%"
                                   kit-element
                                   kit-attr-checked="checked:%{#model.isToolOptionChecked(#toolOption.name) ? '' : null}%"
                                   onclick="#model.setBooleanToolOption(#toolOption.name, this)" />
                            <span class="checkmark"></span>
                            <span>Enabled</span>
                            <span class="spacer"></span>
                            <span class="keyboard-event-info">%{#toolOption.getKeyboardInfoLabel()}%</span>
                        </label>
                    </div>
                </kit>
                <kit kit-if="#toolOption.typeName == 'ToolOption'">
                    <div class="tool-button"
                         title="%{#toolOption.description ?? #toolOption.label}%"
                         onclick="#model.applyToolOption(#toolOption.name)">
                        <label class="command">
                            <label>%{#toolOption.label}%</label>
                            <span class="spacer"></span>
                            <span class="keyboard-event-info">%{#toolOption.getKeyboardInfoLabel()}%</span>
                        </label>
                    </div>
                </kit>
            </div>
        </section>
    </dialog>
</kit>
