
<section id="print-view-component">
    <link rel="stylesheet" href="./components/print-view/print-view.css" />
    <div id="print-content">
        <!-- in-line style for printing with pagination -->
        <style>

            .page-content {
                display: flex;
                flex-direction: column;
            }

            .row {
                display: flex;
            }

            .cell {
                min-width: 50px;
                min-height: 50px;
                margin: 5px;
                padding: 5px;
                position: relative;
                border: 1px solid black;
                overflow: hidden;
            }

            .no-border {
                border: none;
                margin: 0;
            }

            #logo-container-print {
                display: none;
            }

            .corner {
                height: 25px;
                width: 25px;
                margin: 0;
                padding: 0;
                stroke: black;
                fill: black;
                position: absolute;
            }

            .top-left {
                top: 0;
                left: 0;
            }

            .bottom-right {
                bottom: 0;
                right: 0;
            }

            .no-wrap {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .field-value {
                padding-left: 5px;
            }

            ul {
                margin-left: 20px;
            }

            .ability-score-cell,
            .stats-cell {
                text-align: center;
            }

            .ability-score-cell .ability-score,
            #hit-points-max {
                font-size: larger;
                font-weight: bold;
            }

            @media print {

                .page-content {
                    margin: 0;
                    font-size: smaller;
                }

                #name-heading {
                    margin-top: 5px;
                }

                #logo-container-print {
                    display: block;
                    min-width: 60px;
                    min-height: 60px;
                    max-height: 60px;
                    max-width: 60px;
                }

                .ability-score-cell .ability-score,
                #hit-points-max {
                    font-size: unset;
                }

                #page-1 {
                    /*page-break-after: always;*/
                }

                .test-div {
                    page-break-inside: avoid;
                }
            }
        </style>
        <div id="page-1" class="page-content">
            <div class="row">
                <div id="logo-container-print" class="cell no-border" title="DnD Character Editor" kit-component="no-model:./resources/icons/logo.html"></div>
                <div class="cell no-border"><h1 id="name-heading" class="no-wrap">&nbsp;</h1></div>
            </div>
            <div class="row">
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>portrait</div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>
                        <div id="classes">
                            <div class="row no-wrap">class 1 / lvl</div>
                            <div class="row no-wrap">class 2 / lvl</div>
                            <div class="row no-wrap">...</div>
                        </div>
                        <div class="row">
                            <label>Race:</label>
                            <div id="race" class="field-value no-wrap"></div>
                        </div>
                        <div class="row">
                            <label>Size:</label>
                            <div id="size" class="field-value no-wrap"></div>
                        </div>
                        <div>height/weight</div>
                        <div>gender</div>
                        <div>age</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:2;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>
                        <ul>
                            <li>alignment</li>
                            <li>background</li>
                            <li>trait</li>
                            <li>ideal</li>
                            <li>bond</li>
                            <li>flaw</li>
                        </ul>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="ability-score-cell">
                        <div id="strength" class="ability-score no-wrap">str</div>
                        <div id="strength-modifier" class="no-wrap">mod</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="ability-score-cell">
                        <div id="intelligence" class="ability-score no-wrap">int</div>
                        <div id="intelligence-modifier" class="no-wrap">mod</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="ability-score-cell">
                        <div id="wisdom" class="ability-score no-wrap">wis</div>
                        <div id="wisdom-modifier" class="no-wrap">mod</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="ability-score-cell">
                        <div id="dexterity" class="ability-score no-wrap">dex</div>
                        <div id="dexterity-modifier" class="no-wrap">mod</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="ability-score-cell">
                        <div id="constitution" class="ability-score no-wrap">con</div>
                        <div id="constitution-modifier" class="no-wrap">mod</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="ability-score-cell">
                        <div id="charisma" class="ability-score no-wrap">cha</div>
                        <div id="charisma-modifier" class="no-wrap">mod</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>initiative</div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>
                        <div class="row">
                            <label>Speed:</label>
                            <div id="speed" class="field-value no-wrap"></div>
                        </div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>ac</div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div class="stats-cell">
                        <div id="hit-points-max" class="no-wrap">hp</div>
                        <div id="hit-dice" class="no-wrap">hd</div>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell" style="flex:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>skills</div>
                    <div>
                        <ul>
                            <li>acrobatics</li>
                            <li>animal handling</li>
                            <li>arcana</li>
                            <li>athletics</li>
                            <li>deception</li>
                            <li>history</li>
                            <li>insight</li>
                            <li>intimidation</li>
                            <li>investigation</li>
                            <li>medicine</li>
                            <li>nature</li>
                            <li>perception</li>
                            <li>performance</li>
                            <li>persuasion</li>
                            <li>religion</li>
                            <li>sleight of hand</li>
                            <li>stealth</li>
                            <li>survival</li>
                        </ul>
                    </div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
                <div class="cell" style="flex:3;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>attacks</div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
            </div>
            <div id="features-and-equipment-row" class="row">
                <div style="flex: 1; margin: 5px;">
                    <div>Features</div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 1</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 2</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 3</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 4</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>
                            <div>feature 5</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                        </div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 6</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 7</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>feature 8</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                </div>
                <div style="flex: 1; margin: 5px;">
                    <div>Equipment</div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>equipment 1</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>equipment 2</div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                    <div class="cell test-div">
                        <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                        <div>
                            <div>equipment 3</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                            <div>xxx</div>
                        </div>
                        <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell" style="flex-grow:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>spells</div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell" style="flex-grow:1;">
                    <div class="corner top-left" kit-component="no-model:./resources/icons/top-left.html"></div>
                    <div>appearance/history/notes</div>
                    <div class="corner bottom-right" kit-component="no-model:./resources/icons/bottom-right.html"></div>
                </div>
            </div>
        </div> 
    </div>
</section>
