
h3 {
    margin-bottom: 10px;
}

#path-style-list {
    height: 340px;
    overflow-y: auto;
    padding: 2px;
    border: 1px solid var(--color-outline);
    border-radius: 3px;
    background-color: var(--color-surface-container);
    margin: 0;
}

.path-style-item {
    display: flex;
    background-color: var(--color-primary-container);
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--color-outline);
    margin: 1px 0 0 1px;
    color: var(--color-primary-container-on);
    cursor: pointer;
}

.path-style-item .icon,
.path-style-item .icon-text {
    stroke: var(--color-primary-container-on) !important;
}

.path-style-item .icon-text {
    fill: var(--color-primary-container-on) !important;
}

.path-style-item:hover {
    background-color: var(--color-secondary-container);
    color: var(--color-secondary-container-on);
}

.path-style-item:hover .icon,
.path-style-item:hover .icon-text {
    stroke: var(--color-secondary-container-on) !important;
}

.path-style-item:hover .icon-text {
    fill: var(--color-secondary-container-on) !important;
}

.thumbnail {
    margin-right: 10px;
}

.path-style-item .icon-container {
    margin: 3px 3px 0 0;
}

.map-item-template-name {
    margin:0 5px 5px 0;
    display: block;
    font-size: small;
    font-weight: normal;
}

.map-item-template-name:not(.from-template) {
    cursor: pointer;
}

.from-template {
    cursor: default;
}

.map-item-template-name:not(.from-template):hover {
    text-decoration: underline;
}

.path-style-item-note {
    font-size: small;
    font-weight: normal;
}
