
<kit kit-if="#model?.isVisible()">
    <link rel="stylesheet" href="/components/map-editor/canvas-size-dialog/canvas-size-dialog.css" />
    <dialog id="canvas-size-dialog">
        <header>
            <div class="icon-container" kit-component="no-model:/resources/icons/view-resize-canvas.html"></div>
            <div>
                <h1>Canvas size</h1>
            </div>
            <div class="spacer"></div>
            <div>
                <button title="Close" class="dialog-close-button" onclick="#model.closeDialog();">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-close.html"></div>
                </button>
            </div>
        </header>
        <section>
            <div class="controls-container">
                <div>
                    <label>Height:</label>
                    <input id="inputHeight" 
                           title="Height (100 - 10,000)" 
                           type="number" 
                           min="100" 
                           max="10000" 
                           required 
                           onchange="#model.onSizeChange()"
                           autofocus />
                    <span class="invalid"></span>
                </div>
                <div>
                    <label>Width:</label>
                    <input id="inputWidth" 
                           title="Width (100 - 10,000)" 
                           type="number" 
                           min="100" 
                           max="10000" 
                           required 
                           onchange="#model.onSizeChange()" />
                    <span class="invalid"></span>
                </div>
            </div>
        </section>
    </dialog>
</kit>
