
h3 {
    margin-bottom: 10px;
}

.item-list {
    min-height: 50px;
    min-width: 130px;
    height: calc(100% - (20px));
    overflow-y: auto;
    padding: 2px;
    border: 1px solid;
    border-color: var(--color-outline);
    border-radius: 3px;
    margin-right: 10px;
    background-color: var(--color-surface-container);
    margin-bottom:0;
}

.available-item {
    display: flex;
    padding: 0;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    border: 1px solid;
    border-color: var(--color-secondary-container-on);
}

.available-item label {
    cursor: pointer;
}

.available-item .thumbnail-container {
    margin: 5px;
}

.available-item .icon,
.available-item .grip {
    stroke: var(--color-secondary-container-on);
}

.available-item:hover .icon,
.available-item:hover .grip {
    stroke: var(--color-primary-container-on-variant-2);
}

.available-item div {
    padding: 0;
    margin: 0;
}

.available-item label {
    display: block;
    margin: 5px;
}

.secondary-info {
    font-size: smaller;
    font-style: italic;
    padding: 0;
}

.secondary-info label {
    font-weight: normal;
    margin: 5px 0 0 0;
}

.palette-view-note {
    font-size: smaller;
    padding: 0 10px 0 10px;
}
