@scope (#domain-class-and-level-component) {
    :scope {
    }

    .class-content {
        margin: 5px 0 5px 5px;
        border:1px solid saddlebrown;
        padding:5px;
        flex:1;
    }

    .class-content .toggle-button {
        margin-left:0;
    }

    .class-content > div,
    .option-control {
        margin-bottom: 10px;
    }

    .hidden {
        display: none;
    }

    #classes-array {
        display:flex;
        flex-wrap:wrap;
    }

}
