
@scope (#content-component) {
    :scope {
        margin-top: 60px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        display: flex;
        border-top: 3px solid black;
    }

    #no-character {
        margin:5px;
    }
}
