
<kit kit-if="#model?.isVisible()">
    <link rel="stylesheet" href="/components/map-editor/tool-palettes-dialog/tool-palettes-dialog.css" />
    <dialog id="tool-palettes-dialog">
        <header id="dialog-heading">
            <div class="icon-container" kit-component="no-model:/resources/icons/tool-palette.html"></div>
            <div id="dialog-title-container" class="spacer">
                <h1>Manage tool palettes</h1>
            </div>
            <div>
                <button title="Close" class="dialog-close-button" onclick="#model.closeDialog();">
                    <div class="icon-container" kit-component="no-model:/resources/icons/file-close.html"></div>
                </button>
            </div>
        </header>
        <section id="body-section">
            <section id="nav-section">
                <div id="navigation-heading-container">
                    <button id="nav-toggle" class="action-text" onclick="#model.toggleNavigation()" title="Toggle navigation panel">
                        <div class="icon-container" kit-component="no-model:/resources/icons/nav-toggle.html"></div>
                    </button>
                    <label id="navigation-heading-label">Navigation</label>
                </div>
                <div id="navigation-tree-container" kit-array="#model.getRootNavIds()" kit-array-item-alias="navItem">
                    <kit kit-component="/components/map-editor/tool-palettes-dialog/nav-node-view/nav-node-view.html"
                         kit-model="#model.getNavItemModel(#navItem.id)"
                         kit-obj-dialog-model="dialogModel:#model">
                    </kit>
                </div>
            </section>
            <section id="detail-section" 
                     kit-element 
                     kit-obj-component-name="componentName:#model.getSelectedDetailComponentInfo().componentName">
                <kit kit-if="#componentName == 'palette'"
                     kit-component="/components/map-editor/tool-palettes-dialog/palette-view/palette-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'tools'"
                     kit-component="/components/map-editor/tool-palettes-dialog/tools-view/tools-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'tool'"
                     kit-component="/components/map-editor/tool-palettes-dialog/tool-view/tool-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'map.item.templates'"
                     kit-component="/components/map-editor/tool-palettes-dialog/map-item-templates-view/map-item-templates-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'map.item.template'"
                     kit-component="/components/map-editor/tool-palettes-dialog/map-item-template-view/map-item-template-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'path.styles'"
                     kit-component="/components/map-editor/tool-palettes-dialog/path-styles-view/path-styles-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'path.style'"
                     kit-component="/components/map-editor/tool-palettes-dialog/path-style-view/path-style-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'shadow'"
                     kit-component="/components/map-editor/tool-palettes-dialog/shadow-view/shadow-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
                <kit kit-if="#componentName == 'caption'"
                     kit-component="/components/map-editor/tool-palettes-dialog/caption-view/caption-view.html"
                     kit-obj-dialog-model="dialogModel:#model">
                </kit>
            </section>
        </section>
    </dialog>
</kit>
