
<header id="app-heading">
    <link rel="stylesheet" href="/components/app-heading/app-heading.css" />
    <div>
        <button type="button" onclick="#model.toggleNav()" title="navigation panel">
            <kit-component data-kit-template-path="/resources/icons/nav-toggle.html" data-kit-model="null"></kit-component>
        </button>
    </div>
    <div>
        <h1><img style="height:25px;width:25px;" src="/resources/icons/hello-world.png" title="hello world" /></h1>
    </div>
    <div id="title-container">
        <h1 title="hello world">Hello World</h1>
    </div>
    <div id="spacer"></div>
    <div id="search">
        <input type="text" placeholder="search" title="search" />
    </div>
</header>
