
@scope (#app-settings) {
    :scope {
        padding:10px;
    }
    h3, fieldset, input {
        margin:10px;
    }
    fieldset > legend {
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
    }
}
